.container {
    width: calc(100%/3 * 2);
    background-color: #647687;
    position: relative;
}

.chartOverlay {
position: absolute;
width: 100%;
top: 0;
color: #C4DCF5;
display: flex;
flex-direction: row;
}

.chartOverlayBottom {
    position: absolute;
    width: 50%;
    bottom: 0;
    color: #C4DCF5;
    display: flex;
    flex-direction: row;
}

#dexscreenerEmbed {
    position: relative;
    width: 100%;
    height: 100%;
}

@media(min-width:1400px) {
    #dexscreenerEmbed {}
}

#dexscreenerEmbed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
}