.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* float: right; */
    height: 100%;
}

.network {
    border-radius: 100px;
    height: 100%;
    /* background-color: darkcyan; */
    border-width: 0;
    cursor: pointer;
    /* float: right; */
    margin-right: 1rem;
}

.network:first-child {
    margin-left: auto;

}

.network>img {
    height: 100%;
}

/* md breakpoint */
@media only screen and (max-width: 992px) { 
    .container {
        justify-content: space-evenly;
    }
    .network, .network:first-child {
        margin: 0;
    }
}

.currentChain {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 5px 5px #2aaee6;
}