.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    width: 100%;
    /* float: right; */
}

.network {
    border-radius: 100px;
    height: 100%;
    /* background-color: darkcyan; */
    border-width: 0;
    cursor: pointer;
    /* float: right; */
    margin-right: 1rem;
}

.network:first-child {
    margin-left: auto;

}

.network>img {
    height: 100%;
}

.currentChain {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 5px 5px #2aaee6;
}