.container {
    z-index: 1;
    height: 100%;
    border-radius: 10px;
    width: 100%;
}

.address {
    background-color: #2AAEE6;
    height: 100%;   
    border-radius: 10px;
    width: inherit;
    border-width: 1px;
    font-size: 1.5rem;
    text-align: center;
}

.option {
    /* position: absolute; */
    background-color: #2AAEE6;
    z-index: 1;
    width: inherit;
    padding: 10px 0;
    text-align: center;
    margin-top: 1rem;
    border-radius: inherit;
    border-width: 1px;
    border-style: solid;
    font-size: 1.5rem;
    height: 100%;
}

/* sm breakpoint */
@media only screen and (max-width: 768px) {
    .container {
        /* height: unset; */
        margin: 1rem 0;
    }
    .address {
        height: 60px !important;
    }
    .option {
        height: 60px !important;
    }
}