.container {
    z-index: 1;
    height: 100%;
    border-radius: 10px;
    width: 100%;
}

.address {
    background-color: #2AAEE6;
    height: 100%;   
    border-radius: 10px;
    width: inherit;
    border-width: 1px;
    font-size: 1.5rem;
    text-align: center;
}

.connector {
    background-color: #2AAEE6;
    display: block;
    font-size: 2rem;
    text-align: center;
    border-radius: inherit;
    padding: 1rem 0;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.option {
    /* position: absolute; */
    background-color: #2AAEE6;
    z-index: 1;
    width: inherit;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px;
    border-radius: inherit;
    border-width: 1px;
    border-style: solid;
    font-size: 1.5rem;
    height: 100%;
}