.section {
    margin: 0 auto;
}

.assetContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: auto;
}

.section2 {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}