@font-face {
    font-family: "marguerite";
    src: url("../../static/font/marguerite.ttf");
}

.navbarContainer {
    height: 70px;
}

.container {
    min-width: 1100px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border-width: 5px;
    border-color: #2aaee6;
    background-color: white;
    border-style: solid;
    padding: 10px;
    box-shadow: 5px 5px 10px 0px grey;
    margin: 1rem 1rem 0 1rem;
}

.logo {
    margin: auto;
    margin-left: 0.5rem;
    max-height: 70px;
}

.pages {
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 3;
    align-items: center;
}

.page {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2AAEE6;
    font-family: marguerite;
    color: #2AAEE6;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #2AAEE6;
}

a:hover {
    color: #2AAEE6;
}

.connect {
    display: flex;
    flex-direction: row;
    flex: 1.5;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    margin-right: 10px;
    cursor: pointer;
}