@font-face {
    font-family: "marguerite";
    src: url("../../static/font/marguerite.ttf");
}

.container {
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border-width: 5px;
    border-color: #2aaee6;
    background-color: white;
    border-style: solid;
    padding: 10px;
    box-shadow: 5px 5px 10px 0px grey;
    overflow: hidden;
    max-height: 70px;
}

.logo {
    height: 100%;
}

.pages {
    /* margin-top: 1rem; */
    /* margin-right: 2rem; */
    /* margin-left: 2rem; */
    /* padding-right: 3rem; */
    /* padding-left: 3rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    /* min-width: 730px; */
    width: calc(100% - 2rem - 2rem);
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .pages {
        flex-direction: column;
        margin-top: calc(70px + 2rem + 0.3rem * 2);
        /* border-style: solid; */
        opacity: 0;
    }
}

.page {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2AAEE6;
    font-family: marguerite;
    color: #2AAEE6;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #2AAEE6;
}

a:hover {
    color: #2AAEE6;
}

.connect {
    display: flex;
    flex-direction: row;
    flex: 1.5;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    cursor: pointer;
    width: 25%;
}