@font-face {
    font-family: "marguerite";
    src: url("../../static/font/marguerite.ttf");
}

.container {
    min-width: 1100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    margin: auto;
    margin-left: 0.5rem;
    flex: 1;
}

.pages {
    margin-top: 1rem;
    margin-right: 8rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 3;
    align-items: center;
}

.page {
    font-size: 2.3rem;
    font-weight: bold;
    color: #2AAEE6;
    font-family: marguerite;
    color: #2AAEE6;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #2AAEE6;
}

a:hover {
    color: #2AAEE6;
}

.connect {
    display: flex;
    flex-direction: row;
    flex: 1.5;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    margin-right: 10px;
    cursor: pointer;
}