input {
  border-style: none;
  height: 100%;
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  background-color: #cce5ff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}
